<a href="https://colab.research.google.com/github/sinchanayj/Hacktoberfest2022-1/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Features of** **datasets**

1.age - age in years

2.sex - (1 = male ; 0 = female)

3.cp - chest pain type = 0: Typical angina : chest pain related decrease blood type

1 : Atypical angina 2: Non-anginal pain 3 : Asymoptomatic

4.trestbps - resting blood pressure

5.chol - serum cholestrol in mg/DL

6.fbs - fasting blood sugar

7.restecg - resting ecg results 0: normal 1: having ST-T wave abnormality (T wave inversion and/or ST elevation or depression of > 0.05 mV) 2. showing probable or definite left ventricular hypertrophy by Estes'criteria

8.thalach - maximum heart rate achieved

9.exang - exercise-include angina (True / False)

10.oldpeak - ST depression induced by exercise relative to rest

11.slope - the slope of the peak exercise ST segment

12.ca - number of major vessels (0-3) colored by fluoroscopy

13.thal - normal; fixed defect; reversible defect (thalasemia indicator)

14.the predicted attribute

In [1]:
import pandas as pd 
df = pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:

df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0